@keyframes heart_scale { 
    
    from {
        scale: 1;
    }

    50% {
        scale: 1.5;
    }

    to {
        scale: 1;
    }
}

@keyframes heart_sparks { 

    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}