.page {
  padding-block: 100px;
  font-family: var(--main-font), sans-serif;
  background-color: var(--bg-color);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-inline: auto;
  margin-block-end: 100px;
  border: 2px solid var(--text-color);
  padding-block: 128px;
  color: var(--text-color);
  text-align: center;
  background-color: white;
  max-inline-size: 700px;
}

.logo {
  color: currentColor;
  font-family: var(--accent-font), fantasy;
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-size: var(--logo-font-size);
  text-transform: uppercase;
}

.subtitle {
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 23px;
  text-transform: uppercase;
}

.card {
  margin: 0 auto;
  margin-block-end: 50px;
  outline: 2px solid var(--text-color);
  max-inline-size: 696px;
}

.card__title-wrapper {
  padding: 7px 10px;
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" 700;
}

.card-bg {
  color: var(--text-color);
  background-color: white;
}

.decorated-zone {
  position: relative;
}

.decorated-text.tt-uppercase {
  text-transform: uppercase;
}

.decorated-text {
  position: absolute;
  z-index: 10;
  opacity: 0.5;
  color: var(--text-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  text-shadow: 1px white;
  mix-blend-mode: hard-light;
  inset-block-start: 25px;
  inset-inline-end: 25px;
}

@supports (-webkit-text-stroke: 1px white) {
  .decorated-text {
    text-shadow: none;
    -webkit-text-stroke: 1px white;
  }
}

.card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card__caption {
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding: 25px;
  font-variation-settings: "wght" 400;
  font-size: 18px;
  line-height: 117%;
}

.inreased-padding-ie {
  padding-inline-end: 25px;
}

.card__like-section {
  display: flex;
  justify-content: right;
  gap: 5px;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  background-color: var(--bg-color);
}

/* hover animation */

.like-icon:hover .core {
  fill: black;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .main-body {
  fill: black;
  transition: fill 0.3s 0.05s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  fill: black;
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

/* hover animation end  */

/* active animation  */

.like-icon:active .core {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: red;
  transition: fill 0.3s 0.05s linear;
}

/* active animation end  */

/* click animation */

.like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart_scale 0.3s 0.1s ease-in 1 alternate;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: heart_sparks 0.3s 0.1s ease-in 1 alternate;
}

/* click animation end */

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  background-color: transparent;
  transition: outline-color 0.3s ease;
  cursor: pointer;
  max-inline-size: 39px;
}

.card__icon-button:focus-visible {
  outline-color: black;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 black;
}

.save__button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  padding: 15px 20px;
}

.button {
  position: relative;
  border: 2px solid black;
  box-shadow: 2px 2px 0 0 transparent;
  color: var(--text-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  background-color: var(--bg-color);
  transition: outline 0.3s ease;
  transition: color 0.5s;
  transition: box-shadow 0.5s ease;
  cursor: pointer;
  min-inline-size: 130px;
}

.card__like-button {
  display: flex;
  justify-content: center;
  padding-block: 11px;
}

.button__text {
  z-index: 2;
  white-space: nowrap;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 0%;
  height: 100%;
  background-color: black;
  transition: width 0.5s;
}

.button:hover .button__text {
  color: white;
  mix-blend-mode: difference;
}

.button:hover .floppy {
  filter: invert(1);
}

.button:hover::after {
  width: 100%;
}

.submit__floppy {
  max-inline-size: 21px;
}

.dialog__menu {
  padding: 30px;
  color: var(--text-color);
  font-family: var(--accent-font), fantasy;
  background-color: white;
  max-inline-size: 353px;
}

.dialog__menu[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  border: 2px solid black;
}

.dialog__content {
  display: flex;
  gap: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__close-button {
  border: 2px solid black;
  padding: 12px 132px;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

dialog::backdrop {
  opacity: 0.75;
  background-color: black;
}

.floppy {
  z-index: 5;
  scale: 0.75;
}

/* cards filters */

.filter-sepia-60 {
  filter: sepia(60%);
}

.filter-saturate {
  filter: saturate(350%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-invert-brightness {
  filter: invert(1) brightness(80%);
}

.filter-sepia {
  filter: sepia(1);
}

.filter-blur {
  filter: blur(1rem);
}

.filter-hr-contr-bright-blur {
  filter: hue-rotate(127deg) contrast(1) brightness(84%) blur(2px);
}

/* filters end */

@media (width <= 375px) {
  .header {
    padding-block: 120px;
  }

  .subtitle {
    font-size: 14px;
  }

  .card__title-wrapper {
    padding-block: 6px;
  }

  .card__caption {
    gap: 27px;
    padding-inline-end: 29px;
  }

  .inreased-padding-ie {
    padding-inline-end: 33px;
  }

  .decorated-text {
    inset-inline-end: 13px;
  }

  .save__button {
    flex-direction: column;
  }

  .floppy {
    scale: 1;
  }
}
